* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(2, min-content);
    position: relative;
}

.hearder {
    grid-area: 1/2/2/3;
}
.inner-top-header {
    padding: 10px 25px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ffffff;
}
.search-bar {
    display: flex;
    align-items: center;
    gap: 30px;
}
.search-bar>div:first-child {
    border: 1px solid rebeccapurple;
}
input {
    border: none;
    width: 40vw;
    padding: 6px;
    border-radius: 50px;
    background-color: #d1d7de;
}
.notification {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding: 0px 10px;
}
.notification > p:only-of-type {
    font-weight: bold;
}
[alt="Display-picture"] {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: rgb(194, 194, 108);
}
.inner-lower-header {
    display: grid;
    padding: 0px 25px 10px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: #ffffff;
    position: relative;
    box-shadow: 0px 3px 3px #abb0b6;
}
.user-icon {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}
.user-icon > div {
    font-weight: bolder;
    font-size: 1.2rem;
}
.user-icon > div > p:first-child {
    font-size: 0.8rem;
}
.user-icon>.main-dp {
    width: 70px;
    height: 70px;
}
.major-headings>ul {
    display: flex;
    justify-content: end;
    gap: 30px;
    list-style: none;
}
.major-headings>ul>li {
    padding: 8px 15px;
    width: 50px;
    border-radius: 20px;
    background-color: #1992d4;
    text-align: center;
    color: white;
    font-weight: bold;
}

.side-bar {
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    background-color: #1992d4;
    padding: 30px 20px 30px 30px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.menu > ul {
    padding: 20px 0;
}
.dashboard {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    font-weight: bolder;
}
.menu > ul > * , .settings > ul > * {
    list-style: none;
    font-size: 18px;
    line-height: 4ch;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 5px;
}

.article {
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    background-color: #d1d7de;
    gap: 15px;
    padding: 60px 20px;
}
.post {
    background: linear-gradient(
    to right, 
    #f0b429 0%, 
    #f0b429 2%, 
    #ffffff 2%, 
    #ffffff 100%
  );
    height: 1fr;
    border-radius: 10px;
    padding: 30px 30px;
    position: relative;
}
.post> p {
    color: grey;
    font-size: 0.9rem;
    padding-top: 2px;
    margin-bottom: 20px;
}
.engagement-icons {
    display: flex;
    justify-content: end;
    gap: 30px;
    color: grey;
    position: absolute;
    bottom: 20px;
    right: 30px;
}
.aside {
    background-color: #d1d7de;
    padding-right: 20px;
}

.announcements {
    margin-top: 20px;
}
.announcement-headings {
    margin-top: 13px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
}
.announcement-headings > * {
    font-size: 0.8rem;
}
.announcement-headings > hr {
    margin: 10px 0;
}
.announcement-headings > h3 {
    margin-bottom: 2px;
}

.trending {
    margin-top: 20px;
}
.trend-table {
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 10px;
    padding: 27px 0;
}
.trend-list > div > p {
    font-size: 0.8rem;
}
.trend-list {
    display: flex;
    gap: 15px;
    padding: 10px 30px 10px;
}